<div id="tetris_stats_div">
	<div id="stats_text">
		<p>STATISTICS</p>
	</div>
	<canvas id="stats" width="143" height="100"></canvas>
</div>

<div id="center">
	<div id="lines_div">
		<p>LINES-<%= %></p>
	</div>
	<div id="tetris_div">
		<canvas id="tetris" width="350" height="700"></canvas>
	</div>
</div>

<div id="score_div">
	<div id="scores">
		<p>TOP 000000</p>
		<p>SCORE 000000</p>
	</div>
	<div id="piece_div">
		<div id="next_block">
			<p>NEXT</p>
		</div>
		<canvas id="next_piece" width="143" height="120"></canvas>
	</div>
	<div id="level_div">
		<p>LEVEL
		00</p>
	</div>
</div>
