<h1>Hello World!</h1>

<div id="tetris_stats_div">
	<div id="stats_text">
		<p>STATISTICS</p>
	</div>
	<canvas id="stats" width="300" height="540"></canvas>
</div>

<div id="tetris_div">
	<canvas id="tetris" width="350" height="700"></canvas>
</div>

<div id="piece_div">
	<div id="next_black">
		<p>NEXT</p>
	</div>
	<canvas id="next_piece" width="143" height="150"></canvas>
</div>

<div id="score_div">
	<p>TOP</p>
	<br>
	<p>SCORE</p>
	<br>
</div>
