<div id="tetris_stats_div">
	<p>STATISTICS</p>
	<div class="tetromino_stat">
		<canvas id="stats0" width="100" height="50"></canvas>000
	</div>
	<div class="tetromino_stat">
		<canvas id="stats1" width="100" height="50"></canvas>000
	</div>
	<div class="tetromino_stat">
		<canvas id="stats2" width="100" height="50"></canvas>000
	</div>
	<div class="tetromino_stat">
		<canvas id="stats3" width="100" height="50"></canvas>000
	</div>
	<div class="tetromino_stat">
		<canvas id="stats4" width="100" height="50"></canvas>000
	</div>
	<div class="tetromino_stat">
		<canvas id="stats5" width="100" height="50"></canvas>000
	</div>
	<div class="tetromino_stat">
		<canvas id="stats6" width="100" height="50"></canvas>000
	</div>
</div>

<div id="center">
	<div id="lines_div">
		<p>LINES-00</p>
	</div>
	<div id="tetris_div">
		<canvas id="tetris" width="350" height="700"></canvas>
	</div>
</div>

<div id="score_div">
	<div id="scores">
		<p>TOP 000000</p>
		<p>SCORE 000000</p>
	</div>
	<div id="piece_div">
		<div id="next_block">
			<p>NEXT</p>
		</div>
		<canvas id="next_piece" width="143" height="120"></canvas>
	</div>
	<div id="level_div">
		<p>LEVEL
		00</p>
	</div>
</div>
