<h1>Hello World!</h1>

<div id="tetris_stats_div">
	<canvas id="stats" width="300" height="600"></canvas>
</div>

<div id="tetris_div">
	<canvas id="tetris" width="350" height="700"></canvas>
</div>

<div id="piece_div">
	<canvas id="next_piece" width="175" height="175"></canvas>
</div>
