h1 {
	text-align: center;
}

#tetris_stats_div {
	display: inline-block;
  margin: auto;
  padding: 10px;
}

#tetris_div {
  display: inline-block;
  margin: auto;
  padding: 10px;
}

#piece_div {
	display: inline-block;
  margin: auto;
  padding: 10px;
}
