#center {
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
}

#center p {
  font-size: 28px;
  color: white;
  text-align: center;
}

#lines_div {
  background-color: black;
  border: 1px solid red;
  height: 80px;
  border: 4px solid #A3E4D7;

}

#tetris_div {
  margin-top: 20px;
  background-color: black;
  padding-top: 5px;
  padding-bottom: 5px;
  height: 700px;
  border: 10px solid #A3E4D7;

}

#piece_div {
  margin-top: 40px;
	display: inline-block;
  vertical-align: top;
  padding-left: 5px;
  padding-right: 5px;
  background-color: black;
  border: 10px solid #A3E4D7;
}

#next_block {
  text-align: center;
}

#score_div {
  display: inline-block;
  vertical-align: top;
  padding-left: 5px;
  padding-right: 5px;
  width: 200px;
}

#score_div p {
  font-size: 28px;
  padding-left: 7%;
  color: white;
}

#scores {
  padding-top: 5px;
  padding-bottom: 15px;
  height: 175px;
  background-color: black;
  border: 4px solid #A3E4D7;
}

#level_div {
  margin-top: 20px;
  height: 100px;
  background-color: black;
  padding-top: 1px;
  padding-bottom: 5px;
  border: 4px solid #A3E4D7;
}

#level_div p {
  text-align: center;
}

#tetris_stats_div {
  color: white !important;
  font-size: 28px;
  background-color: black;
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
  border: 4px solid #A3E4D7;
  width: 290px;
  text-align: center;
}

.tetromino_stat {
  margin: auto;
  height: 75px;
}